@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
  background-color: black;
}

.header-title{
    color: transparent;
    position: relative;
    z-index: 20;
    background: linear-gradient(to bottom, #FFFFFF, #303030);
    -webkit-background-clip: text;
    background-clip: text;
}
.opus-image{
  mask-image: linear-gradient(
    black 20%,
    transparent
  );
}

.typing-container {
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  position: relative;
}

.typing-text {
  display: inline-block;
  white-space: pre-wrap;
}

.menu-bar-1{
  transition-duration: 300ms;
  transform: translateY(6px);
  opacity: 0;
}
.menu-bar-2{
  transition-delay: 300ms;
  transition-duration:700ms;
  transform: rotate(-130deg);
}

.menu-bar-close{
  transition-delay: 300ms;
  transition-duration:700ms;
  transform: rotate(130deg);
}
.menu-bar-3{
  transition-duration: 300ms;
  transform: translateY(-6px);
  opacity: 0;
}




.gradient-title{
  color: transparent;
  position: relative;
  background: linear-gradient(to bottom, #FFFFFF, #303030);
  -webkit-background-clip: text;
  background-clip: text;
}


.how-1{
  background-image: url("../../public/how-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.how-2{
  background-image: url("../../public/how-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}